@import '../../scss/variables.scss';

#header {
  padding: 0px 0px 10px 10px;
  color: #fff;
  font-size: 3em;
  background: $primary;
}

#header a {
  color: #fff;
  text-decoration: none;
}

#headerLinks {
  background: #ddd;
  padding: 10px;
}

#headerLinks a {
  color: #222;
  margin-right: 15px;
}
